body{
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-image: url(/assets/img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

p{
  margin: 0;
}

li{
  list-style: none;
}